@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

:root {
  font-family: "Nunito";
}

body {
  background-color: #efefef;
  margin: 0px;
}

header {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
}

#logo {
  height: 140px;
  display: block;
  margin: auto;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #000099;
}

.page {
  display: grid;
  align-content: center;
  margin: auto;
  width: 42em;
  height: 54em;
  background-color: white;
  padding: 96px 72px;
}

h1 {
  text-align: center; 
  margin-top: 0px;
}

h3, h4 {
  margin: 0px;
}

h3 {
  font-size: 21.333px;
}

h4 {
  font-size: 17.333px;
  font-weight: 400;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #efefef;
}

th, td {
  border: solid 1px #cccccc;
  padding: 5px 10px;
  font-size: 14.667px;
  text-align: center;
}

p, h5 {
  font-size: 14.667px;
  margin: 0px;
}

.dictionary {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.dictionary h5 {
  text-align: right;
  margin-right: 10px;
}

hr {
  border: 0px;
}

p.light {
  font-weight: 300;
}

@media print {
  header {
    display: none;
  }
  body {
    background-color: white;
  }
  hr {
    page-break-after: always;
  }
}
