@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  font-family: "Nunito";
}

body {
  background-color: #efefef;
  margin: 0px;
}

header {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
}

.logo {
  height: 140px;
  display: block;
  margin: auto;
}

select {
  border: solid 2px #cccccc;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Nunito';
  display: block;
  margin: 10px auto;
}  

.barlink {
  position: relative;
  top: -9px;
  padding: 5px;
  color: black;
  font-weight: normal;
  border: solid 2px #cccccc;
  border-radius: 5px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #000099;
}

.page {
  display: grid;
  align-content: center;
  margin: auto;
  width: 672px;
  height: 864px;
  background-color: white;
  padding: 96px 72px;
}

#pdf-icon {
    position: relative;
    left: 755px;
    top: -96px;
    display: block;
    width: 37px;
    padding: 7px 5px 10px 5px;
    text-align: center;
    background-color: #e9e9e9;
    color: black;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 22px;
}

h1 {
  text-align: center; 
  margin: 0px;
}

h3, h4 {
  margin: 0px;
}

h3 {
  font-size: 21.333px;
}

h4 {
  font-size: 17.333px;
  font-weight: 400;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #efefef;
}

th, td {
  border: solid 1px #cccccc;
  padding: 5px 10px;
  font-size: 14.667px;
  text-align: center;
}

p, h5 {
  font-size: 14.667px;
  margin: 0px;
}

p {
  font-weight: 600;
}

h5 {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.dictionary {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
  
.dictionary p {
  align-self: center;
  font-weight: 400;
  max-height: 1.4em;
  white-space: nowrap;
  overflow: hidden;
}

.dictionary h5 {
  text-align: right;
  margin-right: 10px;
  text-decoration: none;
}

hr {
  border: 0px;
}

p.light {
  font-weight: 300;
}

@media only screen and (min-width: 816px) {
  .bar {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 956px) {
  #pdf-icon {
    position: initial;
    float: right;
  }
}

@media print {
  header {
    display: none;
  }
  body {
    background-color: white;
  }
  hr {
    page-break-after: always;
  }
  @page {
    margin: 0;
  }
  #pdf-icon {
    display: none;
}
